---
interface Props {
  title: string
}

const { title } = Astro.props
---

<section>
  <div class="mb-8 font-bold uppercase tracking-widest text-accent reveal"><span class="section-accent"></span>{title}</div>
  <slot />
</section>
