---
import type { CollectionEntry } from 'astro:content'
import PostCard from './PostCard.astro'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
---

<div>
  <ul class="-my-4">
    {
      posts.map((post, i) => (
        <li>
          <PostCard entry={post} index={i} />
        </li>
      ))
    }
  </ul>
</div>
